@media only screen and (min-width: 768px) and (max-width: 1200px){
	/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************RESET ENDS********************/
*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body{
	background-color: #2C3A47;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.4;
	color: #0AFADF;
	scroll-behavior: smooth;

}

body a{
	text-decoration: none;
	color: #fff;
}


/*******************infobar-top********************/
.infobar-top{
    /* border: 1px solid red; */
    background-color: #58B19F;
    width: 100%;
}

.phone-social{
    /* border: 1px solid red; */
	display: inline-block;
	width: 100%;

}

.phone{
	/* border: 1px solid red; */
	display: inline-block;	
	margin: 10px;
	margin-top: 15px;
    color: #fff;	
    font-size: 25px;
	line-height: 27px;

}

.phone i, .phone p{
	float: left;
}

.phone i{
    margin-right: 10px;
}
.social{
	float: right;
    margin: 10px;	
    /* border: 1px solid red; */
}

.fab {
	padding: 5px;
	font-size: 35px;
	width: 20px;
	text-decoration: none;
	margin-right: 30px;
	border-radius: 50%;
	color: white;
}

.fab:hover {
	opacity: 0.7;
	color: #125688;
}

.menu{
    display: none;
}

/*******************header********************/
.header{
    width: 100%;
    margin: 0 auto;
	text-align: center;
	
}

.header h1{
	font-size: 40px;
	line-height: 2;
	margin: 10px;
}

.header h3{
	font-size: 25px;
	line-height: 3;
	margin: 10px;

}

/*******************navbar********************/
.navbar{
	background-color: #58B19F;
	margin-bottom: 5px;
	width: 100%;
	font-size: 22px;
	font-weight: 600;
	line-height: 29px;
	position: relative;
	display: inline-block;
}

.exitBtn{
	display: none;
}

.options{
	width: 100%;
	padding: 5px;
}

.options a{
	margin: 20px 20px;
	padding-right: 5px;
}

/*******************navbar********************/
.slideshow{
	margin: 5px 0;
	width: 100%;

}

.slides{
	border: 10px solid #CAD3C8;
	border-radius: 5px;
	max-width: 100%; 
}

.slide{
	display: none;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 4s;
	animation-name: fade;
	animation-duration: 4s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
 }

.slide img{
	max-width: 100%;
	max-height: 100%;
}

.dot {
	height: 10px;
	width: 10px;
	margin: 0 3px;
	background-color: #81ecec;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slideOn {
	background-color: #2C3A47;
}

.caption{
	font-size: 25px;
	font-weight: 500;
	width: 40%;
	margin: 10px;
}

/*******************about********************/
.about{
	border-bottom: 2px solid #58B19F;
	text-align: center;	
	margin: 10px 0;
}

.title-details{
	margin-top: 10px;
}

.title{
	font-size: 40px;
	font-weight: 500;
	line-height: 42px;
	margin: 30px 0;
	padding: 10px;

}

.details{
	font-size: 22px;
	line-height: 25px;
	margin-top: 20px;
	text-align: justify;

}

.para2, .para1{
	margin: 20px;
	padding: 10px;
}

/*******************teachers********************/
.teachers, .teacher-info{
	width: 100%;
	margin-bottom: 5px;
}

.teacher-label{
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	line-height: 42px;
	margin: 20px auto;
}


.info-cards{
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: scroll;
}

.info-card-inner{
	display: none;
}

.card {
	margin: 10px;
	border: 5px solid #58B19F;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.card img{
	width: 100px;
	max-width: 100%;
	max-height: 100%;
}

.card h1{
	font-size: 27px;
	line-height: 29px;
	margin: 5px;
	padding: 5px;
}

.card p{
	font-size: 20px;
	line-height: 22px;
	margin: 10px;	
	padding: 5px;
}

/*******************events********************/
.events{
	width: 100%;
}

.event-label{
	font-size: 40px;
	font-weight: 500;
	line-height: 42px;
	margin: 10px auto;
	padding: 10px;
	width: 100%;
	text-align: center;
	
}
.event-label h1{
	margin: 20px;
}
.event-months{
	width: 100%;
	display: flex;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
.months {
	color: white;
	border: solid #2C3A47;
	background-color: #2C3A47;
	padding: 20px 20px;
	margin: 0 20px;
	font-size: 22px;
	font-weight: 500;
		
}

#em::-webkit-scrollbar {
	width: 12px;
	height: 15px;
}

#em::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgb(0,0,0,0.3); 
	border-radius: 20px;
}

#em::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgb(10, 250, 223);
	margin: 10px;

}
#em::-webkit-scrollbar-track-piece{
	color: #0AFADF;
}

.event{
	background-color: #58B19F;
}
.event-name {
	color: white;
	padding: 50px 20px;
	height: 100%;
	background: #58B19F;
}
.event-name h3{
	font-size: 25px;
	line-height: 2;
	font-weight: 700;
}

.event-name p{
	font-size: 22px;
	line-height: 2;
	font-weight: 500;
}

/***************notice***************/
.notice{
	border-bottom: 2px solid #0AFADF;
	height: 200px;
	margin-bottom: 5px;
}
.notice-label{
	font-size: 30px;
	font-weight: 500;
	line-height: 32px;
	margin: 20px auto;
	padding: 5px;
	width: 100%;
	text-align: center;
}
.notice-label h1{
	margin: 20px;
}

/***************contact***************/
.contact{
	margin-top: 5px;
	width: 100%;

}
.contact-label{
	font-size: 30px;
	font-weight: 500;
	line-height: 32px;
	margin: 30px auto;
	width: 100%;
	text-align: center;
}
.contact-label h1{
	margin: 20px;
}

.contact-label p{
	font-size: 25px;
	line-height: 28px;
	margin: 15px;
	text-align: center;
	padding: 5px;

}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.map-contactForm{
	width: 100%;
}
.map-frame{
	border: 7px solid;
	border-radius: 5px;
	width: 100%;
	height: 350px;
	margin-bottom: 10px;
}

.map-frame iframe{
	width: 100%; 
	height: 335px;
}

.contactForm{
	margin: 5px 0;
	width: 100%;
}
.fname-input, .lname-input, .msg-input {
	border: solid #2C3A47;
	border-bottom: 5px solid #0AFADF;
	border-radius: 5px;
	color: #0AFADF;
	background-color: transparent;
	padding: 20px;
	margin: 10px;
	margin-top: 50px;
	font-size: 20px;
	line-height: 22px;
	transition: all 0.3s;
	font-family: 'Raleway', sans-serif;
}
.msg-input {
	height: 150px;
	line-height: 150%;
	resize:vertical;
	display: block;
	margin-top: 20px;
}
.submit{
	width: 30%;
	background-color: #0AFADF;
	border-radius: 10px;
	cursor:pointer;
	color:#2C3A47;
	font-size:24px;
	padding-top:10px;
	padding-bottom:10px;
	transition: all 0.3s;
	margin: 40px 10px;
	font-weight:100;
	font-family: 'Raleway', sans-serif;	  
}

/***************footer***************/
.footer{
	background-color: #58B19F;
	width: 100%;
}
.footer a{
	color: #e74c3c;
	text-decoration: none;

}
.copyright-developer{
	width: 100%;
	display: inline-block;
	font-size: 25px;
	line-height: 2;
	color: #fff;	
	padding: 5px;
	font-weight: 600;

}
.copyright{
	display: inline-block;	
	margin: 10px;
	margin-top: 15px;
}
.developer{
	float: right;
	margin: 10px;
	margin-top: 15px;
}


 }  
