/* Extra small devices: 100px-500px*/
@media only screen and (max-width: 500px) {

body{
	scroll-behavior: smooth;
	overflow-x: hidden;
}

	/**********TOPINFO-SEC**********/

.topInfo-section{
    display: none;
}

/**********HEADER SEC**********/
.header-section{
	justify-content: space-around;
}
.header-section, .logo-name{
	display: flex;
	flex-wrap: wrap;
}
.name h1{
	font-size: 40px;
	font-weight: 500;
	line-height: 1.5;
}
.name h2{
	font-size: 25px;
	font-weight: 400;
}
.logo img{
	max-width: 100%;
	border: 2px solid;
	border-radius: 50%;
	margin: 0 auto;
}
.office-address{
	margin: 20px 10px;
	text-align: justify;
}
.address-details p{
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;
	text-align: right;
}

/**********MAIN SEC**********/

.main-header{
	margin: 20px 0;
	padding: 20px 0;
}
.main-header h2{
	font-size: 40px;
	line-height: 1.5;
}
.main-figure-descrip{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main-figure, .main-descrp{
	flex-basis: 50%;
}
.main-figure img{
	width: 200px;
	height: 200px;
	margin: 30px 0;
	box-shadow: 0 5px 5px 0 #a64ac9;
	border-radius: 5px;
}
.descrp-para p{
	margin: 50px 0;
}
.descrp-cta-btn button{
	background-color: #a64ac9;
	color: #fff;
	padding: 5px;
	border: 5px solid #17e9e0;
	border-radius: 10px;
}
.descrp-cta-btn button:hover{
	background-color: #fccd04;
	color: #000;
	border: 5px solid #000;
}
.main-descrp{
	font-size: 25px;
	line-height: 2;
}
.main-knowMore-btn{
	display: block;
	background: none;
	color: #a64ac9;
	padding: 5px;
	border: none;
	outline: none;
}
.main-knowMore-btn:active{
	font-weight: 600;
	color: #000;
	border: none;
	outline: none;
}
#main-morePara{
	display: none;
}

/**********NAVBAR SEC**********/
.navbar{
	background-color: #a64ac9;
}
.navbar ion-icon{
	font-size: 30px;
	color: #000;
	border: none;
	outline: none;
	background: none;
}
.nav-item a:active{
	font-weight: 600;
	text-decoration: underline;
	color: #fccd04;
}

/**********SERVICES SEC**********/

.services p{
	margin: 10px 0 0 10px;
	line-height: 1.5;
}
.services{
	padding: 20px;
	flex-basis: 10%;
}
.service-icon-title h4{
	margin: 20px 0;
	font-size: 25px;
	font-weight: 600;
}
.services ion-icon{
	font-size: 30px;
}
.services p{
	margin: 10px 0 0 10px;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.5;
}


/**********CTA SEC**********/
.cta-line h2{
	margin-left: 20px;
}

/**********TESTOMONIALS SEC**********/
.testimon-block{
	box-shadow: 0 5px 5px 0 #a64ac9;
	padding: 30px;
}
.testimon-block blockquote{
	font-size: 22px;
	margin: 20px 0;
}
.testimon-block p{
	font-size: 20px;
}
.testimon-block img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 5px 0;
}

/**********INFOBOTTOM SEC**********/

.bottom-left, .bottom-middle, .bottom-right{
	margin: 10px 0;
	flex-basis: 60%;
}
.name h3{
	font-size: 35px;
	line-height: 1.5;
}
.name h5{
	font-size: 25px;
}
.bottom-middle h5{
	font-size: 30px;
	margin: 10px;
}
.linksList{
	margin: 10px;
	font-size: 22px;
}
.linksList a:active{
	color: #fccd04;
	font-weight: 700;
	text-decoration: underline;
}

}