@media only screen and (max-width: 500px) {
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********RESET ENDS**********/
*{
    box-sizing: border-box;
}
body {
    font: 18px 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
    color: #000;
    position: relative;
    height: 100%;
}
#whole-body{
    overflow-x: hidden;
}
/***********FIRST BLOCK**********/
.hero-section{
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(/images/testimonBg.jpg);
}
.navbar-brand{
    font: 26px 'raleway', sans-serif;
    font-weight: 700;
    line-height: 24px;   
}
.smMenu{
    font-weight: 400;
    background: none;
    outline: none;
    color: #fff;
    min-width: 50px;
    min-height: 50px;
}
.smMenu:active{
    border: none;
    outline: none;
}
.navbar-collapse{
    background: #333;
}
.navbar-collapse ul li{
    font: 20px 'raleway', sans-serif;
    font-weight: 900;
    line-height: 24px;  
}
.nav-item a{
    padding: 8px 8px 8px 20px;
    margin: 10px 0 0 10px;
    text-decoration: none;
    display: block;
    color: #fff;
}
.navbar-collapse a:active{
    color: #2187e7;
}
.collnav-inline a{
    text-decoration: none;
    color: #fff;
}
.collnav-inline h6{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 16px;  
    color: #fff;
}
.collnav-inline h5, ion-icon{
    font: 25px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    display: inline-block;  
}
.header-text{
    margin: 70px 0 20px 0;
    color: #fff;
}
.header-text h3{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 56px;   
}
.header-text h1{
    font: 40px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 70px;   
}
.cta-buttons{
    margin: 20px auto;
}
.cta-buttons button{
    font: 20px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    margin: 10px;
    padding: 20px 30px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
}

/**********SEC BLOCK**********/
.sec-block{
    background-color: #F9F9F9;
    position: relative;
}
.info-header{
    padding: 20px;
}
.info-header h2{
    font: 30px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.info-header p{
    font: 20px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}
.info-block ion-icon{
    font-size: 50px;
    background-color: #3A7BD5;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 50%;
}
.info-block h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
    margin: 10px 0;
}
.info-block p{
    font-size: 16px;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

/**********ABOUT BLOCK**********/
#about{
    position: relative;
}
.about-header{
    margin: 30px 0;
    padding: 20px 0;
}
.about-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.about-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 0 10px;
    margin: 30px 0;
    text-align: center;
}
.who-para h3{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #333;
    margin-bottom: 10px 0;
    text-align: center;
}
.who-para p{   
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 20px 0;
    text-align: center;
}
#button{
    background-color: #2187e7;
    border: none;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    margin: 10px 0 50px 0;
    padding: 20px;
}
#button:active{
    background-color: #fff;
    color: #2187e7;
    border: 2px solid #2187e7;
}
.content{
	width:100%;
	margin:0;
	position:relative;
	font-size:12px;
	line-height:2em;
	padding:10px 0 10px;
}
#skill { 
	list-style:none; 
	padding-top:30px;
}
#skill li { 
	margin-bottom:70px; 
	background: #EDF4F8; 
	height: 20px; 
	border-radius:3px; 
	border: 1px solid #000; 
}
#skill li em { 
	position:relative; 
    top:-50px;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}
.expand { 
	height: 20px; 
	background:#3A7BD5; 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html       { width:90%; animation:html 2s ease-out;  -moz-animation:html 2s ease-out;       -webkit-animation:html 2s ease-out;       }
.css        { width:80%; animation:html 2s ease-out;  -moz-animation:css 2s ease-out;        -webkit-animation:css 2s ease-out;        }
.js      { width:60%; animation:html 2s ease-out;  -moz-animation:js 2s ease-out;      -webkit-animation:js 2s ease-out;      }
.wp   { width:70%; animation:html 2s ease-out;  -moz-animation:wp 2s ease-out;   -webkit-animation:wp 2s ease-out;   }

@keyframes html       { 0%  { width:0px;} 100%{ width:70%;}  }
@keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@keyframes js      { 0%  { width:0px;} 100%{ width:50%;}  }
@keyframes wp   { 0%  { width:0px;} 100%{ width:10%;}  }

@-moz-keyframes html       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes js      { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes wp   { 0%  { width:0px;} 100%{ width:10%;}  }

@-webkit-keyframes html       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes js      { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes wp   { 0%  { width:0px;} 100%{ width:10%;}  }

/**********FEATURES BLOCK**********/
#features{
    position: relative;
}
.features-header{
    margin: 20px 0;
    padding: 20px 0;
}
.features-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.features-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}
.feature-fig img{
    width: 100%;
    max-width: 350px;
    max-height: 300px;
    height: auto;
}
.feature-list{
    text-align: center;
}
.feature-list ion-icon{
    font-size: 40px;
    display: inline-block;
    color: #3A7BD5;
    vertical-align: middle;
}
.feat-header{
    font: 20px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    padding-left: 10px;
    vertical-align: middle;
}
.feat{
    margin: 40px 0;
}
.feat p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    margin: 20px 0;
}

/**********MEMBER BLOCK**********/
#member{
    background-color: #3A7BD5;
}
.member-contents{
    text-align: center;
    padding: 10px 0;
}
.member-fig img{
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    height: auto;
    border-radius: 50%;
}
.member-name-dsgn h3{
    font: 24px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
    padding: 20px 0;
}
.member-name-dsgn p{
    font: 20px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 5px 0;
}
.member-quote p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0;
}

/**********RANDOM BLOCK**********/
.random-fig img{
    max-width: 100%;
    height: auto
}
.random-header h3{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
    padding: 20px;
    text-align: center;
}
.random-descrp p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
    text-align: justify;
    text-align: center;
}
.rand-block-descrp ul{
    margin: 0 20px;
    padding: 10px;
}
.rand-block-descrp ul li{
    font: 14px 'raleway', sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 24px;
}
.rand-block-descrp ion-icon{
    font: 25px 'raleway', sans-serif;
    font-weight: 500;
}

/**********MEMBERS BLOCK**********/
#team{
    position: relative;
}
.team-header{
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
}
.team-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
.team-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}
.team-member{
    display: flex;
    margin: 20px 0;
}
.member-socials{
    flex-basis: 10%;
}
.member-descrp{
    text-align: center;
    flex-basis: 90%;
}
.member-socials a{
    display: block;
    font: 25px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin: 25px 0;
}
.team-member img{
    width: 100%;
    height: auto;
}
.team-member h4{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}
.team-member p{
    font: 18px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0 20px 0;
}

/**********SUBSCRIBE ONE BLOCK**********/
#subs-one{
    background-color: #3A7BD5;
}
.subscribe-para{
    margin: 10px 0;
    padding: 30px 0;
    text-align: center;
}
.subscribe-para h4{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
    color: #fff;
}
.subscribe-btn{
    margin: 10px 0;
    padding: 20px 0;
    text-align: center;
}
.subscribe-btn a{
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    color: #3A7BD5;
}
.subscribe-btn button{
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 25px;
}
.subscribe-btn button:active{
    background-color: #3A7BD5;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
}

/**********COUNTER BLOCK**********/
#counter{
    background-color: #F2F2F2;
    color: #000;
}
.counter-list{
    padding: 50px 0;
    display: flex;
}
.col-2{
    color: #000;
    margin: 0 60px;
    padding: 20px 0; 
    flex-basis: 25%;    
}
.counter-box ion-icon{
    background-color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 50%;
    padding: 30px;
}
.counter-box p{
    font-size: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.counter-data{
    font-size: 48px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 58px;
}

/**********TESTIMONIALS BLOCK**********/
#testimonial{
    position: relative;
    background: url("/images/testimonBg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: #fff;
    border: 1px solid #fff;
}
.testimonial-header{
    margin: 20px 0;
    padding: 20px 0;    
}
.testimonial-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}

/**********FAQSECTION BLOCK**********/
.faq-header{
    margin: 20px 0;
    padding: 20px 0;
}
.faq-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.faq-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}
.collapseBtn {
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
}
.collapseBtn:active{
    outline: none;
    border: none;
}
.btnContent{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;    
    max-height: 0;
    overflow: hidden;
    padding: 5px 10px;
    transition: max-height 0.2s ease-out;
}

/**********PRCING BLOCK**********/
#pricing{
    position: relative;
}
.pricing-header{
    margin: 20px 0;
    padding: 20px 0;
}
.pricing-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.pricing-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    text-align: center;
}
.chart{
    border: 5px solid #000;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2187e7;
    color: #fff;
}
.chart-benefits li{
    font: 14px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;    
}
.chart-benefits ul span::before{
    content: "\f192";
    font-family: fontawesome;
    font-size: 16px;
    margin-right: 20px;
}
.pricing-charts h5{
    font: 16px 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 24px;
}
.pricing-charts p{
    font: 40px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 56px;
}

/**********SUBSCRIBE SEC TWO BLOCK**********/
.subscribe-section-two{
    background: url("/images/testimonBg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: #fff;
}
#exampleInputEmail1{
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 20px 0;
    margin: 20px 0px;
    background: transparent;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
#exampleInputEmail1:focus{
    border: 3px solid #2187e7;
}
.form-group{
    text-align: center;
}
.form-group .btn{
    background-color: #2187e7;
    border: 5px solid #fff;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 20px 10px;
    margin: 10px 0;
}
.form-group .btn:active{
    background-color: #fff;
    color: #2187e7;
    border: 5px solid #2187e7;
}

/**********PARTNERS BLOCK**********/
.partners-header{
    margin: 20px 0;
    padding: 20px 10px;
}
.partners-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.partners-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}

/**********CONTACT BLOCK**********/
#contact{
    position: relative;
}
.contact-header{
    margin: 20px 0;
    padding: 20px 10px;
}
.contact-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.contact-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}
.contact-options{
    text-align: center;
}
.contact ion-icon{
    font: 40px 'FontAwesome', sans-serif;
    font-weight: 400;
    line-height: 40px;
    color: #2187e7;
    margin: 10px 0;
}
.contact-options .contact{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
}
.contact p{
    margin: 10px 0;
}

}