@media only screen and (min-width: 501px) {

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********RESET ENDS**********/
*{
    box-sizing: border-box;
}
body {
    font: 18px 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
    color: #000;
    position: relative;
    height: 100%;
}
#whole-body{
    position: relative;
}

.scroll-up-button{
    border-radius: 50%;
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    background-color: #2187e7;
    padding: 20px;
    cursor: pointer;
}
.scroll-up-button:hover{
    padding: 25px;
    transition: ease 1s;
}
.scroll-up-button ion-icon{
    font: 30px 'montserrat', sans-serif;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
}

/***********FIRST BLOCK**********/
#hero-section{
    height: 100%;
    position: relative;
    overflow: hidden;
    background: url(/images/mainBg.jpg);
}
.navbar-brand{
    font: 26px 'raleway', sans-serif;
    font-weight: 700;
    line-height: 24px;   
    color: #fff;
}
.navbar-collapse ul li{
    font: 20px 'raleway', sans-serif;
    font-weight: 900;
    line-height: 24px;  
}
.navbar-nav{
    margin: 0 auto;
}
.active{
    background-color: #3A7BD5;
}
.nav-item a{
    color: #fff;
    margin-right: 30px;
    padding: 15px 10px;
}
.navbar-collapse a:hover{
    color: #fff;
    background-color: #3A7BD5;
}
.collnav-inline h6{
    font: 14px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 16px;  
    color: #fff;
}
.collnav-inline a{
    color: #fff;
    text-decoration: none;
}
.collnav-inline h5, ion-icon{
    font: 20px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;  
}
.header-text{
    margin: 220px 0 200px 0;
    background: transparent;
}
.header-text h1{
    font: 70px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 70px;   
    color: #fff;
}
.header-text h3{
    font: 40px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 56px;   
    color: #fff;
}
.header-info{
    color: #2187e7;
}
.cta-buttons{
    margin: 50px auto;
}
.cta-buttons button{
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    margin: 0 10px;
    padding: 15px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
}
.smMenu, .closeBtn{
    display: none;
}
/**********INFO BLOCK**********/
#info{
    position: relative;
    padding-top: 50px;
}
.sec-block{
    background-color: #F9F9F9;
    position: relative;
}
.info-header{
    padding: 20px 0;
}
.info-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.info-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0px;
    text-align: center;
    /* border: 1px solid red; */
}
.info-blocks{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.info-block{
    flex-basis: 25%;
    padding: 20px;
}
.info-block ion-icon{
    font-size: 60px;
    background-color: #3A7BD5;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
.info-block h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
    margin: 10px 0;
}
.info-block p{
    font-size: 16px;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

/**********ABOUT BLOCK**********/
.about-header{
    margin: 30px;
    padding: 20px;
}
.about-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.about-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.about-para-bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.who-para{
    flex-basis: 45%;
    padding: 10px;
}
.who-para h3{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px;
    color: #333333;
    margin-bottom: 10px;
}
.who-para p{   
    font-family: raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 20px 0;
}
#button{
    background-color: #2187e7;
    border: none;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 15px;
}
#button:hover{
    background-color: #fff;
    color: #2187e7;
    border: 2px solid #2187e7;
}
.skills-bars{
    flex-basis: 45%;
    padding: 10px;
}
.skillsList {
    font-size: 20px;
    height: auto;
    position: relative;
 }
 .skillbar{
    height: 40px;
    position: relative;
    background: rgba(17, 17, 17, .3);
    margin: 10px auto 50px;
 }
 .skillSection {
    width: 10%;
    height: 40px;
    position: relative;
    background-color: #2187e7;
}
.skillLabel{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
    padding: 10px 20px;
}
.percentText{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    position: absolute;
    right: 0;
}

/**********FEATURES BLOCK**********/
#features{
    position: relative;
    padding-top: 50px;
}
.features-header{
    margin: 20px 0;
    padding: 10px 0;
}
.features-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.features-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.features-fig-list{
    display: flex;
}
.feature-fig{
    flex-basis: 40%;
}
.feature-list{
    flex-basis: 30%;
    margin: 0 50px;
}
.feature-list ion-icon{
    font-size: 40px;
    display: inline-block;
    color: #3A7BD5;
    vertical-align: middle;
}
.feat-header{
    font: 16px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    padding-left: 20px;
    vertical-align: middle;
}
.feat-three, .feat-two{
    margin: 40px 0;
}
.feat p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    margin: 5px 0;
}

/**********MEMBER-REVIEW BLOCK**********/
#member-review{
    background-color: #3A7BD5;
    color: #fff;
}
.member-contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0;
    vertical-align: top; 
}
.member-contents > .member-fig{
    margin: 10px 0 0 40px;
    flex-basis: 20%;
    text-align: center;
}
.member-fig img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.member-name-dsgn{
    margin-top: 10px;
    flex-basis: 20%;
    padding: 30px 0;
}
.member-name-dsgn h3{
    font: 24px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
}
.member-name-dsgn p{
    font: 20px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}
.line{
    height: 160px;
    border-left: 5px solid;
}
.member-quote{
    flex-basis: 40%;
}
.member-quote p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 30px 0;
}

/**********RANDOM BLOCK**********/
#random{
    display: flex;
    flex-wrap: wrap;
}
.random-fig{
    flex-basis: 55%;
}
.random-fig img{
    width: 100%;
    max-width: 811px;
    max-height: 500px;
    height: auto
}
.rand-block-descrp{
    flex-basis: 40%;
}
.random-header h3{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
    padding: 20px;
}
.random-descrp p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
    text-align: justify;
}
.rand-block-descrp ul{
    padding: 20px;
}
.rand-block-descrp ul li{
    font: 14px 'raleway', sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 24px;
}
.rand-block-descrp ion-icon{
    font: 15px 'raleway', sans-serif;
    font-weight: 500;
}

/**********TEAM BLOCK**********/
#team{
    position: relative;
}
.team-header{
    margin: 30px;
    padding: 20px;
}
.team-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.team-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.team-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.team-member{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
}
.member-socials{
    flex-basis: 10%;
}
.member-descrp{
    flex-basis: 70%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
.member-socials a{
    display: block;
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0;
}
.team-member img{
    width: 100%;
    height: auto;
    max-width: 250px;
    max-height: 300px;
}
.team-member h4{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}
.team-member p{
    font: 18px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

/**********SUBSCRIBE ONE BLOCK**********/
#subs-one{
    background-color: #3A7BD5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}
.subscribe-para{
    margin: 20px 20px 0 0;
    padding: 10px 0;
}
.subscribe-para h4{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
    margin: 30px 0;
}
.subscribe-btn{
    margin: 20px 20px 0 0;
    padding: 30px 0;
}
.subscribe-btn a{
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    color: #3A7BD5;
}
.subscribe-btn button{
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 25px;
}
.subscribe-btn button:hover{
    background-color: #3A7BD5;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
}

/**********PROJECTS BLOCK**********/
.project-header{
    margin: 30px;
    padding: 20px;    
}
.project-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.project-grid img{
    max-width: 300px;
    max-height: 200px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.project-dashboard button{
    font: 25px 'montserrat', sans-serif;
    font-weight: 500;
    line-height: 24px;
    padding: 10px;
    margin: 20px 10px;
    background: none;
    border: none;
    outline: none;
}
.column{
    float: left;
    width: 33.33%;
    display: none;
    margin: 5px 0 10px 0;
}
.project-row-container:after {
    content: "";
    display: table;
    clear: both;
}
.project-row-container h4{
    font: 22px 'montserrat', sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0;
}
.project-row-container p{
    font: 20px 'raleway', sans-serif;
    font-weight: 500;
    line-height: 24px;
    margin: 10px 0;
}
.show{
    display: block;
}
.projectBtn .active{
    font-weight: 700;
    text-decoration: underline;
}
.projectBtn:hover{
    text-decoration: underline;
    font-weight: 700;
}

/**********COUNTER BLOCK**********/
#counters{
    background-color: #F2F2F2;
    color: #000;
    padding: 20px 0;
}
#counters .row{
    padding: 20px 0;
    margin: 0 auto;
}
.col-2{
    color: #000;
    margin: 0 auto;
    padding: 30px 0;
}   
.counter-box ion-icon{
    background-color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 50%;
    padding: 20px;
    color: #2187e7;
    position: absolute;
    left: 0;
}
.counter-box ion-icon:hover{
    background-color: #3A7BD5;
    color: #fff;
}
.counter{
    font: 50px 'raleway', sans-serif;
    font-weight: 800;
    line-height: 58px;
    margin: 0 80px;
}
.counter-box p{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 22px;    
    margin: 15px 0 0 0;
}

/**********TESTIMONIALS BLOCK**********/
#testimonial{
    position: relative;
    padding-top: 50px;
    background: url("/images/testimonBg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: #fff;
    border: 1px solid #fff;
}
.testimonial-header{
    margin: 10px 0;
    padding: 10px 0;    
}
.testimonial-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.slidee{
    display: none;
}
.slide-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.client-fig-name{
    flex-basis: 20%;
}
.client-testimonial{
    flex-basis: 70%;
    margin: 20px 0;   
}
.slidee img{
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
.slidee h5{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0;
}
.slidee p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.client-testimonial p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
}
.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid #fff;
}
.on, .dot:hover {
    background-color: #222;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/**********FAQSECTION BLOCK**********/
#faqs{
    border: 1px solid #fff;
}
.faq-header{
    margin: 30px;
    padding: 20px;
}
.faq-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.faq-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.faq-lists{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.faq-group-one{
    flex-basis: 45%;
}
.faq-group-two{
    flex-basis: 45%;
}
.collapseBtn {
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
}
.collapseBtn:hover {
    background-color: #2187e7;
    color: #fff;
}
.collapseBtn:active{
    outline: none;
    border: none;
}
.btnContent{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;    
    max-height: 0;
    overflow: hidden;
    padding: 5px 10px;
    transition: max-height 0.2s ease-out;
}
  
/**********PRCING BLOCK**********/
#pricing{
    position: relative;
    padding-top: 50px;
}
.pricing-header{
    padding: 20px 0;
}
.pricing-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.pricing-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.pricing-charts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.chart{
    border: 5px solid #000;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2187e7;
    color: #fff;
}
.chart-header{
    margin-bottom: 10px;
}
.chart-benefits li{
    font: 14px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 20px 0;    
}
.chart-benefits ul span::before{
    content: "\f192";
    font-family: fontawesome;
    font-size: 16px;
    margin-right: 20px;
}
.pricing-charts h5{
    font: 16px 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 24px;
}
.pricing-charts p{
    font: 40px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 56px;
}

/**********SUBSCRIBE SEC TWO BLOCK**********/
.subscribe-section-two{
    background: url("/images/testimonBg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: #fff;
}
.subscribe-pr{
    padding: 20px 0;
}
.subscribe-pr h4{
    font: 40px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 56px;
    margin: 30px 0 20px 0;
}
#exampleInputEmail1{
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 23px;
    background: transparent;
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
#exampleInputEmail1:focus{
    border: 3px solid #2187e7;
}
.subscribe-form{
    padding: 50px 0;
}
.form-group{
    display: flex;
    position: relative;
}
.form-group .btn{
    background-color: #2187e7;
    border: 3px solid #fff;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 15px 50px;
    position: absolute;
    right: 0;
}
.form-group .btn:hover{
    background-color: #fff;
    color: #2187e7;
    border: 3px solid #2187e7;
}

/**********PARTNERS BLOCK**********/
.partners-header{
    padding-top: 20px;
}
.partners-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.partners-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.partners-list{
    padding: 50px 0;
}
.customer-logos img{
    margin: 10px 30px;
    opacity: 0.3;
}
.customer-logos img:hover{
    margin: 10px 30px;
    opacity: 0.9;
}

/**********CONTACT BLOCK**********/
#contact{
    position: relative;
    padding-top: 50px;
    background-color: #F2F2F2;
}
.contact-header{
    margin: 10px 0;
    padding: 10px 0;
}
.contact-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 10px 0 20px 0;
}
.contact-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 50px;
    text-align: center;
}
.contact-options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact ion-icon{
    font: 40px 'FontAwesome', sans-serif;
    font-weight: 400;
    line-height: 40px;
    color: #2187e7;
    margin: 10px 0;
}
.contact-options .contact{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 18px;
}
.contact p{
    margin: 10px 0;
}
.contact-form{
    padding: 40px 0;
}
.input-sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sec-one{
    flex-basis: 50%;
}
.sec-two{
    flex-basis: 40%;
}
.sec-one input, .sec-two textarea{
    margin: 20px 0;
}
.form-group input{
    border-radius: 20px;
}
.form-group textarea{
    font: 18px 'raleway',sans-serif;
    font-weight: 400;
    line-height: 24px;
    border-radius: 20px;
}
.form-control:hover{
    border: 2px solid #2187e7;
}
.contact-form .btn{
    background-color: #2187e7;
    border: none;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    padding: 20px;
}
.contact-form .btn:hover{
    background-color: #fff;
    color: #2187e7;
    border: 2px solid #2187e7;
}

/**********FOOTER BLOCK**********/
#footer{
    background-color: #222;
    padding: 20px;
}
.footer-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}
.foot{
    flex-basis: 30%;
}
.foot .col{
    margin: 20px 0;
    font: 20px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 18px;
}
.foot a{
    color: #fff;    
}
.foot a:hover{
    color: #2187e7;
}
.md-section a{
    margin-top: 20px;
}
.socials{
    text-align: end;
    margin: 10px 0;
}
.social-icons ion-icon{
    margin: 0 20px;
    font: 25px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 18px;
}
.copyright{
    color: #fff;
    text-align: end;
}
}