/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********RESET ENDS**********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 18px 'Catamaran', sans-serif;
    overflow-x: hidden;
    color: #000;
    position: relative;
    scroll-behavior: smooth;
}
.full-body{
    border: 1px solid red;
}
.navbar-nav{
    /* border: 1px solid red; */
    margin: 0 10px 0 0;
}
.nav-link{
    color: #fff;
    font: 22px 'Catamaran', sans-serif;
    line-height: 10px;
    font-weight: 400;
}
.loginBtn{
    color: #fff;
    background-color: #000;
    font: 22px 'Catamaran', sans-serif;
    font-weight: 400;
    width: 110px;
    height: 50px;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 10px;

}
.carousel-item{
    position: relative;
    margin: 30px 0;
    padding: 50px 0;
}
.item-text{
    color: #fff;
    max-height: 500px;
    margin: 10px 200px;
}
.item-text h1{
    font: 70px 'Catamaran', sans-serif;
    font-weight: 700;
    line-height: 75px;
    margin: 10px 0 20px 0;
    max-width: 400px;
    display: inline-block;
}
.item-text p{
    font: 25px 'Catamaran', sans-serif;
    font-weight: 500;
    display: block;
    max-width: 550px;
    margin: 10px 0 70px 0;
}
.item-text a{
    display: block;
    margin: 30px 0 0 0;
}
.item-text button{
    color: #fff;
    background-color: #000;
    font: 22px 'Catamaran', sans-serif;
    font-weight: 400;
    width: 170px;
    height: 70px;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
}
.slide-img{
    width: 100%;
    height: auto;
    max-width: 450px;
    max-height: 500px;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    right: 200px;
    margin: 50px 0;
    background: none;

 }
.animatL{
    animation: fadeInLeft;
    animation-duration: 2s;
}
.animatU{
    animation: fadeInUp;
    animation-duration: 2s;
}
.animatR{
    animation: fadeInRight;
    animation-duration: 2s;
}
.context {
    width: 100%;
    position: absolute;
    border: 1px solid red;
}
.context h1{
    text-align: center;
    color: #fff;
    /* font-size: 50px; */
}
.main-details{
    background: rgb(170,223,215);
    background: linear-gradient(333deg, rgba(170,223,215,1) 16%, rgba(143,189,227,1) 38%, rgba(141,185,241,1) 46%, rgba(86,135,210,1) 75%, rgba(90,71,237,1) 91%);
    width: 100%;
    height:100vh;   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #34495e;
    animation: animate 10s linear infinite;
    bottom: -150px;    
}

.circles li:nth-child(1){
    left: 25%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 50px;
    height: 50px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

