/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********RESET ENDS**********/
body {
    font: 18px 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #fff;
    color: #000;
}
/***********FIRST BLOCK**********/
.first-block{
    border: 1px solid red;
}
.block-one-container{
    width: 100%;
}

/**********SEC BLOCK**********/
.sec-block{
    border: 1px solid red;
    background-color: #F9F9F9;
}
.info-header{
    margin: 30px;
    padding: 20px;
}
.info-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.info-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 100px;
    padding: 10px 0;
    text-align: center;
}
.info-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.info-block{
    flex-basis: 20%;
}
.info-block ion-icon{
    font-size: 60px;
    background-color: #3A7BD5;
    color: #fff;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
}
.info-block h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
    margin: 10px 0;
}
.info-block p{
    font-size: 16px;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

/**********ABOUT BLOCK**********/
.about-header{
    margin: 30px;
    padding: 20px;
}
.about-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.about-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 100px;
    padding: 10px 0;
    text-align: center;
}
.about-para-bars{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.who-para, .skills-bars{
    flex-basis: 50%;
}
.who-para h3{
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 42px
    color: #333333;
    margin-bottom: 10px;
}
.who-para p{   
    font-family: raleway, sans-serif;
    font-weight: 400
    font-size: 16px;
    line-height: 24px;
    color: #222222;
    margin: 20px 0;
}
#button{
    background-color: #2187e7;
    border: none;
    border-radius: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    padding: 15px;
}
#button:hover{
    background-color: #fff;
    color: #2187e7;
    border: 2px solid #2187e7;
}
.content{
	width:100%;
	margin:0;
	position:relative;
	float:left;
	font-size:12px;
	line-height:2em;
	padding:30px 0 30px;
}
#skill { 
	list-style:none; 
	padding-top:30px;
}

#skill li { 
	margin-bottom:70px; 
	background: #EDF4F8; 
	height: 12px; 
	border-radius:3px; 
	border: 1px solid #000; 
}
#skill li em { 
	position:relative; 
    top:-30px;
    font-size: 20px;
    font-family: 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

.expand { 
	height:10px; 
	background:#3A7BD5; 
	position:absolute;
	box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html       { width:90%;  -moz-animation:html 2s ease-out;       -webkit-animation:html 2s ease-out;       }
.css        { width:80%;  -moz-animation:css 2s ease-out;        -webkit-animation:css 2s ease-out;        }
.js      { width:60%;  -moz-animation:js 2s ease-out;      -webkit-animation:js 2s ease-out;      }
.wp   { width:70%;  -moz-animation:wp 2s ease-out;   -webkit-animation:wp 2s ease-out;   }

@-moz-keyframes html       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes js      { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes wp   { 0%  { width:0px;} 100%{ width:10%;}  }

@-webkit-keyframes html       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes js      { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes wp   { 0%  { width:0px;} 100%{ width:10%;}  }

/**********FEATURES BLOCK**********/
.features-header{
    margin: 30px;
    padding: 20px;
}
.features-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.features-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 200px;
    padding: 10px 0;
    text-align: center;
}
.features-fig-list{
    display: flex;
}
.feature-fig{
    /* border: 1px solid red; */
    flex-basis: 40%;
}
.feature-list{
    /* border: 1px solid red; */
    flex-basis: 30%;
    margin: 0 50px;
}
.feature-list ion-icon{
    font-size: 40px;
    display: inline-block;
    color: #3A7BD5;
    vertical-align: middle;
}
.feat-header{
    font: 16px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: #333;
    padding-left: 20px;
    vertical-align: middle;
}
.feat-three, .feat-two{
    margin: 40px 0;
}
.feat p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #222;
    margin: 5px 0;
}

/**********MEMBER BLOCK**********/
#member{
    background-color: #3A7BD5;
}
.member-contents{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    margin: 30px 40px 0 30px;
    vertical-align: top; 
}
.member-fig{
    margin: 0 20px 0 100px;
}
.member-fig img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    flex-basis: 20%;
}
.member-name-dsgn{
    flex-basis: 20%;
    margin: 0 50px;
}
.member-name-dsgn h3{
    font: 24px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 34px;
    padding: 20px 0;
}
.member-name-dsgn p{
    font: 20px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 5px 0;
}
.line{
    height: 150px;
    border-left: 5px solid;
    margin: 0 70px;
}
.member-quote{
    flex-basis: 40%;
}
.member-quote p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px 0;
}

/**********RANDOM BLOCK**********/
#random{
    display: flex;
    flex-wrap: wrap;
}
.random-fig{
    flex-basis: 55%;
}
.random-fig img{
    width: 100%;
    max-width: 811px;
    max-height: 500px;
    height: auto
}
.rand-block-descrp{
    flex-basis: 40%;
}
.random-header h3{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
    padding: 20px;
}
.random-descrp p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    padding: 20px;
    text-align: justify;
}
.rand-block-descrp ul{
    padding: 20px;
}
.rand-block-descrp ul li{
    font: 14px 'raleway', sans-serif;
    font-weight: 400;
    margin: 10px 0;
    line-height: 24px;
}
.rand-block-descrp ion-icon{
    font: 15px 'raleway', sans-serif;
    font-weight: 500;
}

/**********MEMBERS BLOCK**********/
.team-header{
    margin: 30px;
    padding: 20px;
}
.team-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.team-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 200px;
    padding: 10px 0;
    text-align: center;
}
.team-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.team-member{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
}
.member-socials{
    flex-basis: 10%;
}
.member-descrp{
    flex-basis: 90%;
}
.member-socials a{
    display: block;
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 20px;
    margin: 15px 0;
}
.team-member img{
    width: 100%;
    height: auto;
    max-width: 270px;
    max-height: 358px;
}
.team-member h4{
    font: 20px 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0;
}
.team-member p{
    font: 18px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0;
}

/**********SUBSCRIBE ONE BLOCK**********/
#subs-one{
    background-color: #3A7BD5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.subscribe-para{
    margin: 40px 20px;
    padding: 20px;
}
.subscribe-para h4{
    font: 30px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 42px;
}
.subscribe-btn{
    margin: 30px 20px;
    padding: 20px;
}
.subscribe-btn a{
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 16px;
    color: #3A7BD5;
}
.subscribe-btn button{
    background-color: #fff;
    border: none;
    border-radius: 30px;
    padding: 25px;
}
.subscribe-btn button:hover{
    background-color: #3A7BD5;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
}

/**********COUNTER BLOCK**********/
#counter{
    background-color: #F2F2F2;
    color: #000;
    border: 1px solid red;
}
.row{
    padding: 50px 0;
    margin: 0 auto;
}
.col-2{
    color: #000;
    margin: 0 30px;
    padding: 0 20px;
}   
.counter-box ion-icon{
    background-color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 50%;
    padding: 30px;
}
.counter-box ion-icon:hover{
    background-color: #3A7BD5;
    color: #fff;
}
.counter-data{
    font-size: 48px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 58px;
}

/**********TESTIMONIALS BLOCK**********/
#testimonial{
    background: url("/images/testimonBg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    color: #fff;
    border: 1px solid #fff;
}
.testimonial-header{
    margin: 30px;
    padding: 20px;    
}
.testimonial-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.slide{
    display: none;
}
.slide-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.client-fig-name{
    flex-basis: 20%;
}
.client-testimonial{
    flex-basis: 70%;
    margin: 20px 0;   
}
.slide img{
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
.slide h5{
    font: 18px 'montserrat', sans-serif;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0;
}
.slide p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
}
.client-testimonial p{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 30px;
}
.slide-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid #fff;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/**********FAQSECTION BLOCK**********/
#faqs{
    border: 1px solid #fff;
}
.faq-header{
    margin: 30px;
    padding: 20px;
}
.faq-header h2{
    font: 40px 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 20px 0;
}
.faq-header p{
    font: 16px 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 200px;
    padding: 10px 0;
    text-align: center;
}
.faq-lists{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-around;
}
.faq-group-one{
    flex-basis: 45%;
}
.faq-group-two{
    flex-basis: 45%;
}
.collapseBtn {
    font: 16px 'montserrat', sans-serif;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    margin: 10px 0;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
}
.collapseBtn:hover {
    background-color: #2187e7;
    color: #fff;
}
.collapseBtn:active{
    outline: none;
    border: none;

}
.btnContent{
    font: 16px 'raleway', sans-serif;
    font-weight: 400;
    line-height: 24px;    
    max-height: 0;
    overflow: hidden;
    padding: 5px 10px;
    transition: max-height 0.2s ease-out;
}
  
  .btnContent {
  }
  
