/**********ABOUT SEC**********/
.about-section{
    margin: 20px 0;
    padding: 10px 0;
}
.about-header{
	margin: 20px 0;
	padding: 20px 0;
}
.about-header h2{
	font-size: 50px;
	line-height: 1.5;
}
.about-descrp p{
	font-size: 22px;
    line-height: 1.5;
    padding: 10px;
}
.about-button{
    margin: 30px 10px;
}
.about-button button{
	background-color: #a64ac9;
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    padding: 10px;
    border: 5px solid #17e9e0;
	border-radius: 10px;
}
.about-button button:hover{
	background-color: #fccd04;
	color: #000;
	border: 5px solid #000;

}


/**********TEAM SEC**********/
.team-section{
    margin: 20px 0;
    padding: 10px 0;
}
.team-header{
	margin: 20px 0;
	padding: 20px 0;
}
.team-header h2, .about-header h2{
	font-size: 50px;
	line-height: 1.5;
}
.members-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.member{
    border-radius: 5px;
    box-shadow: 0 10px 10px 0 #a64ac9;
    flex-basis: 20%;
    padding: 10px;
}
.members-blocks img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 10px 0;
}
.member h5{
    font-size: 25px;
    line-height: 1.5;
    font-weight: 500;
    margin: 10px 0;
}
.member p{
    margin: 10px 0;
    font-weight: 400;
}
.one-socials a{
    font-size: 20px;
    margin: 20px 5px;
}

