/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**********RESET ENDS**********/

.whole-body{
	font-family: Raleway, sans-serif;
	font-weight: 400;
	font-size: 18px;
}

/**********TOPINFO-SEC**********/
.topInfo-section, .email-phone, .email-phone a{
    display: flex;
}
.topInfo-section{
	justify-content: space-between;
	position: relative;
	background-color: #fccd04;
}
.email-phone{
	padding: 5px 0;
	height: 1px;
}
.email-phone a{
	margin-left: 40px;
	color: #000;
}
.email-phone a:hover{
	font-weight: 600;
}
.email-phone ion-icon{
	margin-top: 2px;
	font-size: 22px;
}
.social-menu-top{
	margin-right: 40px;
}
.social-menu-top a{
	margin-right: 10px;
	color: #000;
}
.social-menu-top ion-icon{
	border: 2px solid #000;
	font-size: 20px;
	border-radius: 50%;
	padding: 5px;
}
.social-menu-top ion-icon:hover{
	border: 2px solid #17e9e0;
	border-radius: 50%;
}

/**********HEADER SEC**********/
.header-section{
	justify-content: space-around;
	padding: 20px;
	padding-top: 20px;
}
.header-section, .logo-name{
	display: flex;
	flex-wrap: wrap;
}
.name h1{
	font-size: 50px;
	font-weight: 500;
	line-height: 1.5;
}
.name h2{
	font-size: 30px;
	font-weight: 400;
}
.logo img{
	max-width: 100%;
	border: 2px solid;
	border-radius: 5px;
	margin: 10px 40px 0 0;
}
.address-details p{
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
}

/**********MENUTOP SEC**********/
.navbar{
	width: 100%;
	transition: linear 0.3s;
	background-color: #a64ac9;
}
.navbar .nav{
	margin-right: 100px;
}
.navbar a{
	font-size: 22px;
	margin-right: 50px;
	color: #fff;
}
.navbar a:hover{
	font-weight: 600;
	text-decoration: underline;
	color: #fccd04;
}
.sticky {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: #ecf0f1;
    transition: linear 0.7s;
  }
  .sticky a {
    color: #000;
  }

/**********HOMESLIDER SEC**********/
.home-slider-section{
}
.home-slider-section img{
	max-width: 100%;
	height: 500px;
}
.home-slider-section .swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/**********MAIN SEC**********/
.main-section{
	padding: 10px 0;
}
.main-header{
	margin: 20px 0;
	padding: 20px 0;
}
.main-header h2{
	font-size: 50px;
}
.main-figure-descrip{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.main-figure, .main-descrp{
	flex-basis: 50%;
}
.main-figure img{
	margin: 50px 0;
	box-shadow: 0 5px 5px 0 #a64ac9;
	border-radius: 5px;
}
.main-descrp{
	font-size: 22px;
	line-height: 2.5;
}
.descrp-para p{
	margin: 30px 0;
}
.descrp-cta-btn button{
	background-color: #a64ac9;
	color: #fff;
	padding: 5px;
	border: 5px solid #17e9e0;
	border-radius: 10px;
}
.descrp-cta-btn button:hover{
	background-color: #fccd04;
	color: #000;
	border: 5px solid #000;

}

/**********SERVICES SEC**********/
.services-section{
	padding: 10px 0;
}
.services-header{
	margin: 20px 0;
	padding: 20px 0;
}
.services-header h2{
	font-size: 50px;
	line-height: 1.5;
}
.services-blocks, .service-icon-title{
	/* border: 1px solid red; */
	display: flex;
	flex-wrap: wrap;	
}
.services-blocks{
	justify-content: space-around;
}
.service-icon-title{
	justify-content: space-evenly;
}
.service-icon-title h4{
	font-size: 22px;
	font-weight: 600;
}
.services{
	box-shadow: 0 5px 5px 0 #000;
	border: 5px solid #17e9e0;
	background-color: #a64ac9;
	color: #ecf0f1;
	margin: 20px 5px;
	padding: 15px;
	flex-basis: 33%;
}
.services ion-icon{
	font-size: 30px;
}
.services p{
	margin: 10px 0 0 120px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
}

/**********CTA SEC**********/
.cta-section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px 0;
	background-color: #a64ac9;
}
.cta-line, .cta-button{
	margin: 20px 0;
	padding: 20px 0;
}
.cta-line h2{
	font-size: 40px;
	line-height: 1.5;
	color: #fff;
}
.cta-button button{
	padding: 10px;
	font-size: 25px;
	line-height: 1.5;
	border-radius: 5px;
	background-color: #fccd04;
	color: #000;
	border: 5px solid #17e9e0;
	border-radius: 10px;
}
.cta-button button:hover{
	background-color: #fccd04;
	color: #000;
	font-weight: 600;
	border: 5px solid #000;
}

/**********TESTIMONIALS SEC**********/
.testimonials-section{
	padding: 10px 0;
} 
.testimon-header{
	margin: 20px 0;
	padding: 20px 0;
}
.testimon-header h2{
	font-size: 50px;
	line-height: 1.5;
}
.testimonials-section .swiper-container{ 
	width: 100%;
	height: 100%;
}
.testimonials-section .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
.testimonials-section .swiper-slide{
	border-radius: 5px;
	margin: 5px 0;
	padding: 20px;
}
.testimon-block{
	box-shadow: 0 5px 5px 0 #a64ac9;
	padding: 20px;
}
.testimon-block blockquote{
	margin: 20px 0;
}
.testimon-block img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 5px 0;
}


/**********INFOBOTTOM SEC**********/
.infoBottom-section{
	padding: 20px 0;
	background-color: #a64ac9;
	color: #fff;
}
.infoBottom-section, .bottom-left{
	display: flex;
	flex-wrap: wrap;
}
.bottom-left, .bottom-middle, .bottom-right{
	flex-basis: 33%;
}
.infoBottom-section{
	justify-content: space-around;
}
.bottom-left{
	justify-content: space-evenly;
	padding: 50px 0;
}
.name h3{
	font-size: 30px;
	line-height: 1.5;
}
.bottom-right{
	padding: 0 50px;
}
.bottom-logo img{
	max-width: 100%;
	height: 100px;
}
.linksList a{
	color: #fff;
	text-decoration: underline;
	margin: 2px 0;
}
.bottom-middle h5{
	margin: 0 50px;
}
.linksList{
	margin: 0 50px;
}
.linksList a:hover{
	color: #fccd04;
	font-weight: 700;
	text-decoration: underline;
}
/**********FOOTER SEC**********/
.footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fccd04;
}
.copyright, .creator{
	font-size: 20px;
}
.copyright p, .creator p{
	margin: 10px 0;
}
